<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Simply Always Awake Community Locator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.jpeg') %>
  </head>

  <% if user_signed_in? %>
    <body class="h-full">
      <div class="min-h-full" data-controller="menu">
        <%= render "application/header" %>
        <%= render "application/main" %>
        <%= render "application/footer" %>
      </div>
    </body>
  <% else %>
    <body class="h-full bg-gray-50">
      <div class="min-h-full">
        <div>
          <main>
            <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
              <%= yield %>
              <%= render "application/footer" %>
            </div>
          </main>
        </div>
      </div>
    </body>
  <% end %>
</html>
